

<div class="section">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-4">
      <h2 class="title is-2">Log in</h2>  
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        
        <!-- email -->
          <div class="field">
            <div class="control">
               <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } ,
                input_html: { class: "input" } ,
               label_html: {class: "label"},
               wrapper: false %>
            </div>
            
          </div>
          <!-- password -->
          <div class="field">
            <div class="control">
              <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" },
                input_html: { class: "input" } ,
               label_html: {class: "label"},
               wrapper: false  %>
            </div>
            
          </div>

          <!--submit -->
          <div class="field">
            <div class="control">
             <%= f.button :submit , "log in" , class:"button is-info is-medium" %>
            </div>
            <%= f.input :remember_me,wrapper: false , as: :boolean if devise_mapping.rememberable?%>
          </div>
        <% end %>
        <br>

          <%= render "devise/shared/links" %> 
      </div>
    </div>
  </div>
</div>